section{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    padding: 15em;
    align-items: center;
    justify-content: center;
}